:root {
    --hero-background-1: #717171;
    --hero-background-2: #888888;
    --hero-h-color: #ffffff;
    --hero-p-color: #F5F5F5;
    --bg-pattern-color: #e0e0e0;
    --card-background-color: #ffffff;
}

.scene {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
    padding-top: clamp(var(--nav-height) - 4rem, 20vw, var(--nav-height));
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
}

.connect-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 40rem;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.contact-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #75c4ff;
}

.contact-hero {
    position: relative;
    background-image: linear-gradient(to bottom right, var(--hero-background-1) 0%, var(--hero-background-2) 100%);
    min-height: 20vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.contact-hero h2 {
    font-size: clamp(1.5rem, 3vw + 1rem, 3.5rem);
    color: var(--hero-h-color);
}

.contact-hero p {
    padding-top: clamp(1.5rem, 3vh + 1rem, 3.5rem);
    color: var(--hero-p-color);
}

.contact-hero img {
    position: relative;
    flex-grow: 1;
    bottom: 0;
    right: 0;
    height: clamp(1.5rem, 35vh, 35rem);
    width: 100%;
}

