:root {
    --hero-background-1: #717171;
    --hero-background-2: #888888;
    --hero-h-color: #ffffff;
    --hero-p-color: #F5F5F5;
    --bg-pattern-color: #e0e0e0;
    --card-background-color: #ffffff;

    --link-btn-depth: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --hero-background-1: #989898;
        --hero-background-2: #cccccc;
        --hero-h-color: #252525;
        --hero-p-color: #303030;
        --background-color: #2B2B2B;
        --bg-pattern-color: #353535;
        --card-background-color: #3A3A3A;
    }
}

.scene {
    perspective-origin: var(--perspective-origin);
    perspective: 350px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
    padding-top: clamp(var(--nav-height) - 4rem, 20vw, var(--nav-height));
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
}

.connect-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 40rem;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.contact-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/svgs/heart-pattern.svg");
    /*background: green;*/
    background-size: 2rem;
    background-repeat: repeat;
    z-index: 1;
    animation: tweenPatternDown 2s linear infinite;
}

.contact-hero {
    position: relative;
    background-image: linear-gradient(to bottom right, var(--hero-background-1) 0%, var(--hero-background-2) 100%);
    min-height: 20vh;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.contact-hero div {
    z-index: 2;
}

.contact-hero h2 {
    font-size: clamp(2.5rem, 3vw + 1rem, 3.5rem);
    color: var(--hero-h-color);
    line-height: clamp(2rem, 3vw + 1rem, 3.5rem);
    max-width: 65%;
}

.contact-hero p {
    font-size: clamp(1rem, 1vw + 0.25rem, 2rem);
    padding-top: clamp(1.5rem, 3vh + 1rem, 3.5rem);
    color: var(--hero-p-color);
}

.contact-hero img {
    position: absolute;
    flex-grow: 1;
    bottom: 0;
    right: -3rem;
    height: clamp(1.5rem, 35vh, 35rem);
    max-width: 50%;
    z-index: 2;
    filter: drop-shadow(0 0 1rem var(--hero-h-color));
}

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--medium-shading);
    width: 100%;
    padding: 1.5rem;
    justify-content: space-between;
}

.contact-methods a {
    display: block;
    position: relative;
    transform-style: preserve-3d;
    background: var(--bg-pattern-color);
    font-size: clamp(1rem, 1vw + 0.25rem, 2rem);
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0.25rem 0.25rem 0.5rem var(--very-dark-shading);
}

.contact-methods a:first-child {
    flex-grow: 1;
}




@keyframes tweenPatternDown {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2rem 2rem;
    }
}
