:root {
    --background-color: #f0f0f0;
    --bg-pattern-color: #e0e0e0;
    --card-background-color: #ffffff;
}

.scene {
    width: 100%;
    min-height: 100dvh;
    max-height: max-content;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
    display: flex;
    padding-top: clamp(var(--nav-height) - 4rem, 20vw, var(--nav-height))
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 17.5rem));
    width: 100%;
    gap: 0.5rem;
    box-sizing: border-box;
    height: max-content;
    padding: 0 1rem;
}

.project-card {
    background: var(--card-background-color);
    height: 20rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.project-card:active {
    box-shadow: inset 0 0 0.25rem 0.25rem var(--very-dark-shading);
}

.project-card img {
    background: var(--bg-pattern-color);
    height: 75%;
    object-fit: contain;
}

/* Project Dialog */
#project-dialog {
    width: 30rem;
    height: 45rem;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#project-dialog img {
    display: block;
    width: 100%;
    height: 17.5rem;
    object-fit: contain;
    background: var(--bg-pattern-color);
}

#project-dialog section {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
    height: max-content;
    flex: 1;
    min-height: 0;
}

#project-dialog h2 {
    line-height: 2.25rem;
    font-size: clamp(1.5rem, 4vw + 0.25rem, 2.15rem);
    text-transform: uppercase;
}

#project-dialog h2::after {
    content: '';
    display: block;
    width: 12%;
    height: 0.25rem;
    background: var(--text-secondary-color);
    margin-top: 0.25rem;
}

#project-dialog .close-button {
    background: var(--card-background-color);
    border: none;
    font-size: 2.75rem;
    padding: 0.25rem;
    aspect-ratio: 1/1;
    line-height: 0;
    cursor: pointer;
}

#project-dialog .project-skills span {
    background: var(--bg-pattern-color);
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    padding: 0 1rem 0 1rem;
    line-height: 2rem;
    text-transform: uppercase;
}

#project-dialog .project-footer {
    margin-top: auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#project-dialog .project-footer {
    display: flex;
    justify-content: space-between;
}

#project-dialog .project-footer a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    text-transform: uppercase;
}

.close-button:active {
    box-shadow: inset 0 0 0.25rem 0.25rem var(--very-dark-shading);
}

::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
    .projects-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        background: var(--card-background-color);
        height: 20rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
}
