:root {
    --background-color: #f0f0f0;
    --bg-pattern-color: #e0e0e0;
    --card-background-color: #ffffff;
}

.scene {
    width: 100%;
    min-height: 100dvh;
    max-height: max-content;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
    display: flex;
    padding-top: clamp(var(--nav-height) - 4rem, 20vw, var(--nav-height))
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 17.5rem));
    width: 100%;
    gap: 0.5rem;
    box-sizing: border-box;
    height: max-content;
    padding: 0 1rem;

}

.project-card {
    background: var(--card-background-color);
    height: 20rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.project-card:active {
    box-shadow: inset 0 0 0.25rem 0.25rem var(--very-dark-shading);
}

.project-card img {
    background: var(--bg-pattern-color);
    height: 75%;
    object-fit: contain;
}

@media (max-width: 480px) {
    .projects-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        background: var(--card-background-color);
        height: 20rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
}
