.scene {
    width: 100vw;
    height: 100dvh;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 2rem;
    padding: 4rem;
    box-sizing: border-box;
}

.projects-grid:nth-child(1) {
    padding-top: 0;
}

.project-card {
    /*background: var(--card-background-color);*/
    /*border: var(--card-border);*/
    /*box-shadow: var(--card-box-shadow);*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}