:root {
    --background-color: #f0f0f0;
    --bg-pattern-color: #e0e0e0;
    --card-background-color: #ffffff;
}

.scene {
    width: 100vw;
    min-height: 100dvh;
    max-height: max-content;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2rem, var(--bg-pattern-color) 2rem, var(--bg-pattern-color) 4rem);
    background-color: var(--background-color);
    display: flex;
    padding-top: var(--nav-height);
    /*align-items: center;*/
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 16.5rem);
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    height: max-content;
}

.project-card {
    background: var(--card-background-color);
    height: 17.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.project-card img {
    background: var(--bg-pattern-color);
    height: 75%;
    object-fit: contain;
}