@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}

@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: italic;
}

:root {
    --background-color: #F3F3F3;
    --background-color-faded: #F3F3F300;
    --bg-pattern-color: #E3E3E3;
    --road-color: #E8E8E8;
    --line-color: #D9D9D9;
    --text-color: #838383;
    --link-color: #3ea5ed;
    --link-active-color: #9441ea;
    --text-secondary-color: #434343;
    --font-defaults: "Cascadia Mono";


    /* Scene Defaults */
    --perspective-origin: center top;
    --perspective: 20rem;
    --light-shading: #EAEAEA;
    --medium-shading: #D9D9D9;
    --dark-shading: #C5C5C5;
    --very-dark-shading: #A0A0A0;
    --house-height: 7.5rem;
    --house-width: 20rem;
    --road-width: 20rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2B2B2B;
        --background-color-faded: #2B2B2B00;
        --bg-pattern-color: #5D5D5D;
        --link-color: #75c4ff;
        --link-active-color: #cc9cff;

        --road-color: #414141;
        --line-color: #676767;
        --text-color: #F3F3F3;
        --text-secondary-color: #c1c1c1;
        --light-shading: #4C4C4C;
        --medium-shading: #3D3D3D;
        --dark-shading: #373737;
        --very-dark-shading: #202020;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    touch-action: manipulation !important;
    /*outline: 1px dotted red;*/
}

a {
    color: var(--link-color);
}
a:active {
    color: var(--link-active-color);
}

nav {
    position: absolute;
    font-family: var(--font-defaults);
    width: 100vw;
    height: max-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav * {
    color: var(--text-color);
}

nav h1 {
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
}

nav span {
    font-size: clamp(1.25rem, 1.75vw + 0.5rem, 3rem);
}

nav span .active {
    color: var(--text-secondary-color);
}

.nav-content {
    padding: 1rem 2rem 8rem 2rem;
    background: linear-gradient(to bottom, var(--background-color) 0%, var(--background-color) 60%, var(--background-color-faded) 100%);
}

main {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.about-me {
    /*height: var(--about-me-height);*/
    padding: 2rem;
    background: var(--road-color);
    z-index: 1;
    font-family: var(--font-defaults);
    color: var(--text-secondary-color);
    animation: fadeIn 500ms ease-out, aboutMeSpawnAnimation 500ms ease-out forwards;
    box-shadow: var(--very-dark-shading) 0 0 0.25rem 0.25rem;
}

.about-me h2 {
    margin-bottom: 1rem;
}

.about-me h2::after {
    content: '';
    display: block;
    width: 12%;
    height: 0.25rem;
    background: var(--text-secondary-color);
    margin-top: 0.25rem;
}


.pfp {
    transform: translateY(25%);
    object-fit: contain;
    width: clamp(10rem, 24vw + 1rem, 25rem);
    height: 20rem;
    opacity: 0;
    animation: 500ms fadeIn 500ms ease-out forwards, pfpIdleAnimation 5s ease-in-out infinite;
    z-index: 1;
}
/* Scene */

.scene {
    background-color: var(--background-color);
    background-image: radial-gradient(var(--bg-pattern-color) 15%, transparent 16%);
    background-size: 2.5rem 2.5rem;
    perspective-origin: var(--perspective-origin);
    perspective: var(--perspective);
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.road {
    background: var(--road-color);
    width: var(--road-width);
    height: 100%;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 75deg);
    box-shadow: var(--very-dark-shading) 0 1.5rem 0.5rem 0.5rem;

}

.road-lines {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            to top,
            transparent, transparent 1rem,
            var(--line-color) 1rem,
            var(--line-color) 3rem
    );
    background-size: 1rem 9rem;
    background-repeat: repeat-y;
    background-position: center;
    animation: moveLines 3s linear infinite;
}

.buildings {
    height: 100%;
    width: var(--house-width);
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    background: var(--very-dark-shading);
    box-shadow: var(--very-dark-shading) 0 0 1rem 1rem;
    transform: rotate3d(1, 0, 0, 75deg);
    overflow: visible;
    transform-origin: center;
}

.building {
    position: relative;
    background: var(--dark-shading);
    width: 100%;
    height: var(--house-height);
    transform-style: preserve-3d;
    overflow: visible;
    transform-origin: top;
    animation: moveBuildings 3s linear infinite;
}

.building .front {
    position: relative;
    background: var(--medium-shading);
    width: 100%;
    height: var(--house-height);
    transform-origin: top;
}

.left .front {
    transform: rotateY(90deg) translateX(calc(var(--house-width) / 2 * -1)) translateZ(calc(var(--house-width) / 2));
}

.right .front {
    transform: rotateY(-90deg) translateX(calc(var(--house-width) / 2)) translateZ(calc(var(--house-width) / 2));
}

.building .side {
    position: absolute;
    background: var(--dark-shading);
    width: var(--house-width);
    height: var(--house-width);
    left: 0;
    transform: translateZ(var(--house-width)) rotateX(-90deg);
    transform-origin: top;
}

.building .roof {
    position: absolute;
    background: var(--light-shading);
    width: 100%;
    height: var(--house-height); /* length of the roof slope */
    top: 0;
    transform-origin: top;
    transform: translateZ(var(--house-width)) /* move roof up by half its height */
}

/* Animations */

@keyframes moveLines {
    0% {
        background-position: center 0;
    }
    100% {
        background-position: center calc(var(--house-height) * 1 - 1.5rem);
    }
}

@keyframes moveBuildings {
    0% {
        transform: translateY(calc(var(--house-height) * -1 - 1.5rem));
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pfpIdleAnimation {
    0% {
        transform: translateY(25%) rotate(-5deg);
    }
    50% {
        transform: translateY(27%) rotate(-3deg);
    }
    100% {
        transform: translateY(25%) rotate(-5deg);
    }
}

/* Browser Settings */
@media (prefers-reduced-motion: reduce) {
    .road-lines, .building {
        animation: none;
    }

    .about-me {
        animation: none;
        transform: translate(-50%, -5%);
    }
}

@media (max-width: 1024px) {
    .road {
        width: calc(var(--road-width) * 0.65);
    }

    .buildings {
        width: calc(var(--house-width) * 0.65);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width) / 2 * -1 * 0.65)) translateZ(calc(var(--house-width) / 2 * 0.65));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width) / 2 * 0.65)) translateZ(calc(var(--house-width) / 2 * 0.65));
    }

    .building .side {
        width: calc(var(--house-width) * 0.65);
        height: calc(var(--house-width) * 0.65);
        transform: translateZ(calc(var(--house-width) * 0.65)) rotateX(-90deg);
    }

    .building .roof {
        transform: translateZ(calc(var(--house-width) * 0.65))
    }
}

@media (max-width: 768px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 5vh;
    }
    .nav-content {
        text-align: center;
    }

    .scene {
        /*perspective: calc(var(--perspective) * 0.75);*/
    }

    .road {
        width: calc(var(--road-width) * 0.45);
    }

    .buildings {
        width: calc(var(--house-width) * 0.45);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width) / 2 * -1 * 0.45)) translateZ(calc(var(--house-width) / 2 * 0.45));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width) / 2 * 0.45)) translateZ(calc(var(--house-width) / 2 * 0.45));
    }

    .building .side {
        width: calc(var(--house-width) * 0.45);
        height: calc(var(--house-width) * 0.45);
        transform: translateZ(calc(var(--house-width) * 0.45)) rotateX(-90deg);
    }

    .building .roof {
        transform: translateZ(calc(var(--house-width) * 0.45))
    }
}

@media (max-width: 480px) {
    .nav-content {
        text-align: center;
        padding: 1rem 2rem 4rem 2rem;
    }

    .road {
        width: calc(var(--road-width) * 0.3);
    }

    .road-lines {

    }

    .buildings {
        width: calc(var(--house-width) * 0.4);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width) / 2 * -1 * 0.4)) translateZ(calc(var(--house-width) / 2 * 0.4));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width) / 2 * 0.4)) translateZ(calc(var(--house-width) / 2 * 0.4));
    }

    .building .side {
        width: calc(var(--house-width) * 0.4);
        height: calc(var(--house-width) * 0.4);
        transform: translateZ(calc(var(--house-width) * 0.4)) rotateX(-90deg);
    }

    .building .roof {
        transform: translateZ(calc(var(--house-width) * 0.4))
    }
}


/* Text Selection Colors */
::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

::-moz-selection {
    background-color: var(--text-color);
    color: var(--background-color);
}