:root {
    --background-color: #F3F3F3;
    --road-color: #E8E8E8;
    --line-color: #D9D9D9;
    --text-color: #838383;
    --text-secondary-color: #434343;
    --font-defaults: "Cascadia Mono", monospace;

    
    /* Scene Defaults */
    --perspective-origin: center top;
    --perspective: 20rem;
    --light-shading: #EAEAEA;
    --medium-shading: #D9D9D9;
    --dark-shading: #C5C5C5;
    --very-dark-shading: #A0A0A0;
    --house-height: 8rem;
    --house-width: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    /*outline: 1px dotted red;*/
}

nav {
    position: absolute;
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF00 100%);*/
    font-family: var(--font-defaults);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav * {
    color: var(--text-color);
}

nav h1 {
    font-size: 4rem;
}

nav span {
    font-size: 1.75rem;
}

nav .active {
    color: var(--text-secondary-color);
}

.scene {
    background-color: #F3F3F3;
    background-image: radial-gradient(#E3E3E3 15%, transparent 16%);
    background-size: 2.5rem 2.5rem;
    perspective-origin: var(--perspective-origin);
    perspective: var(--perspective);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.road {
    background: linear-gradient(to bottom, #E8E8E8 0%, #e6e6e6 60%);
    width: 20rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 75deg);
    box-shadow: #E3E3E3 0 5px 5px 5px;

}

.road-lines {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            to top,
            transparent, transparent 1rem,
            #D9D9D9 1rem,
            #D9D9D9 3rem
    );
    background-size: 1rem 9.5rem;
    background-repeat: repeat-y;
    background-position: center;
    animation: moveLines 3s linear infinite;
}

.buildings {
    height: 100%;
    width: var(--house-width);
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--very-dark-shading);
    box-shadow: var(--very-dark-shading) 0 0 1rem 1rem;
    transform: rotate3d(1, 0, 0, 75deg);
    overflow: visible;
    transform-origin: center;
}

.building:nth-child(1) {
    animation: fadeAway 3s linear infinite, moveBuildings 3s linear infinite;
}

.building {
    position: relative;
    background: var(--dark-shading);
    width: 100%;
    height: var(--house-height);
    transform-style: preserve-3d;
    overflow: visible;
    transform-origin: top;
    animation: moveBuildings 3s linear infinite;
}

.building .front {
    position: relative;
    background: var(--medium-shading);
    width: 100%;
    height: var(--house-height);
    transform-origin: top;
}

.left .front {
    transform: rotateY(90deg) translateX(calc(var(--house-width)/2 * -1)) translateZ(calc(var(--house-width)/2));
}

.right .front {
    transform: rotateY(-90deg) translateX(calc(var(--house-width)/2)) translateZ(calc(var(--house-width)/2));
}

.building .side {
    position: absolute;
    background: var(--dark-shading);
    width: var(--house-width);
    height: var(--house-width);
    left: 0;
    transform: translateZ(var(--house-width)) rotateX(-90deg);
    transform-origin: top;
}


.building .roof {
    position: absolute;
    background: var(--light-shading);
    width: 100%;
    height: var(--house-height); /* length of the roof slope */
    top: 0;
    transform-origin: top;
    transform:
            translateZ(var(--house-width)) /* move roof up by half its height */
            /*rotateY(45deg); !* angle the roof *!*/
}


/* Animations */
@keyframes moveLines {
    0% {
        background-position: center 0;
    }
    100% {
        background-position: center calc(var(--house-height) * -1 - 1.5rem);
    }
}

@keyframes moveBuildings {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(var(--house-height) * -1 - 1.5rem));
    }

}

/* Text Selection Color */
::selection {
    background-color: #A0A0A0;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #A0A0A0;
    color: #FFFFFF;
}