
@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}

@font-face {
    font-family: "Cascadia Mono";
    src: url('../fonts/CascadiaMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: italic;
}

:root {
    --background-color: #F3F3F3;
    --road-color: #E8E8E8;
    --line-color: #D9D9D9;
    --text-color: #838383;
    --text-secondary-color: #434343;
    --font-defaults: "Cascadia Mono";

    
    /* Scene Defaults */
    --perspective-origin: center top;
    --perspective: 20rem;
    --light-shading: #EAEAEA;
    --medium-shading: #D9D9D9;
    --dark-shading: #C5C5C5;
    --very-dark-shading: #A0A0A0;
    --house-height: 7.5rem;
    --house-width: 20rem;
    --road-width: 20rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    touch-action: manipulation !important;
    /*outline: 1px dotted red;*/
}

nav {
    position: absolute;
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF00 100%);*/
    font-family: var(--font-defaults);
    width: 100vw;
    height: max-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav * {
    color: var(--text-color);
}

nav h1 {
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
}

nav span {
    font-size: clamp(1.25rem, 1.75vw + 0.5rem, 3rem);
}

nav .active {
    color: var(--text-secondary-color);
}

.nav-content {
    padding: 1rem 2rem 6rem 2rem;
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF00 100%);
}

.about-me {
    width: 45%;
    /*height: var(--about-me-height);*/
    padding: 2rem;
    background: var(--road-color);
    position: absolute;
    z-index: 1;
    font-family: var(--font-defaults);
    color: var(--text-secondary-color);
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate3d(1, 0, 0, 75deg) translate(-50%, -5%);
    animation: fadeIn 500ms ease-out, aboutMeRotation 500ms ease-out forwards;
    box-shadow: var(--very-dark-shading) 0 0 0.25rem 0.25rem;

}

/* Scene */

.scene {
    background-color: #F3F3F3;
    background-image: radial-gradient(#E3E3E3 15%, transparent 16%);
    background-size: 2.5rem 2.5rem;
    perspective-origin: var(--perspective-origin);
    perspective: var(--perspective);
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.road {
    background: linear-gradient(to bottom, #E8E8E8 0%, #e6e6e6 60%);
    width: var(--road-width);
    height: 100%;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 75deg);
    box-shadow: var(--very-dark-shading) 0 1.5rem 0.5rem 0.5rem;

}

.road-lines {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            to top,
            transparent, transparent 1rem,
            #D9D9D9 1rem,
            #D9D9D9 3rem
    );
    background-size: 1rem 9rem;
    background-repeat: repeat-y;
    background-position: center;
    animation: moveLines 3s linear infinite;
}

.buildings {
    height: 100%;
    width: var(--house-width);
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    background: var(--very-dark-shading);
    box-shadow: var(--very-dark-shading) 0 0 1rem 1rem;
    transform: rotate3d(1, 0, 0, 75deg);
    overflow: visible;
    transform-origin: center;
}

.building {
    position: relative;
    background: var(--dark-shading);
    width: 100%;
    height: var(--house-height);
    transform-style: preserve-3d;
    overflow: visible;
    transform-origin: top;
    animation: moveBuildings 3s linear infinite;
}

.building .front {
    position: relative;
    background: var(--medium-shading);
    width: 100%;
    height: var(--house-height);
    transform-origin: top;
}

.left .front {
    transform: rotateY(90deg) translateX(calc(var(--house-width)/2 * -1)) translateZ(calc(var(--house-width)/2));
}

.right .front {
    transform: rotateY(-90deg) translateX(calc(var(--house-width)/2)) translateZ(calc(var(--house-width)/2));
}

.building .side {
    position: absolute;
    background: var(--dark-shading);
    width: var(--house-width);
    height: var(--house-width);
    left: 0;
    transform: translateZ(var(--house-width)) rotateX(-90deg);
    transform-origin: top;
}

.building .roof {
    position: absolute;
    background: var(--light-shading);
    width: 100%;
    height: var(--house-height); /* length of the roof slope */
    top: 0;
    transform-origin: top;
    transform:
            translateZ(var(--house-width)) /* move roof up by half its height */
            /*rotateY(45deg); !* angle the roof *!*/
}

/* Animations */

@keyframes moveLines {
    0% {
        background-position: center 0;
    }
    100% {
        background-position: center calc(var(--house-height) * 1 - 1.5rem);
    }
}

@keyframes moveBuildings {
    0% {
        transform: translateY(calc(var(--house-height) * -1 - 1.5rem));
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes aboutMeRotation {
    0% {
        transform: rotate3d(1, 0, 0, 30deg) translate(-50%, -5%);
    }

    100% {
        transform: rotate3d(0, 0, 0, 0) translate(-50%, -5%);
    }
}

/* Browser Settings */
@media (prefers-reduced-motion: reduce) {
    .road-lines, .building {
        animation: none;
    }

    .about-me {
        animation: none;
        transform: translate(-50%, -5%);
    }
}

@media (max-width: 1024px) {
    .road {
        width: calc(var(--road-width) * 0.65);
    }

    .buildings {
        width: calc(var(--house-width) * 0.65);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width)/2 * -1 * 0.65)) translateZ(calc(var(--house-width)/2 * 0.65));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width)/2 * 0.65)) translateZ(calc(var(--house-width)/2 * 0.65));
    }

    .building .side {
        width: calc(var(--house-width) * 0.65);
        height: calc(var(--house-width) * 0.65);
        transform: translateZ(calc(var(--house-width) * 0.65)) rotateX(-90deg);
    }

    .building .roof {
        transform:
            translateZ(calc(var(--house-width) * 0.65))
    }
}

@media (max-width: 768px) {
    .nav-content {
        text-align: center;
    }

    .scene {
        /*perspective: calc(var(--perspective) * 0.75);*/
    }

    .road {
        width: calc(var(--road-width) * 0.45);
    }

    .buildings {
        width: calc(var(--house-width) * 0.45);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width)/2 * -1 * 0.45)) translateZ(calc(var(--house-width)/2 * 0.45));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width)/2 * 0.45)) translateZ(calc(var(--house-width)/2 * 0.45));
    }

    .building .side {
        width: calc(var(--house-width) * 0.45);
        height: calc(var(--house-width) * 0.45);
        transform: translateZ(calc(var(--house-width) * 0.45)) rotateX(-90deg);
    }

    .building .roof {
        transform:
                translateZ(calc(var(--house-width) * 0.45))
    }
}

@media (max-width: 480px) {

    .nav-content {
        text-align: center;
    }

    .road {
        width: calc(var(--road-width) * 0.3);
    }

    .road-lines {
        
    }

    .buildings {
        width: calc(var(--house-width) * 0.4);
    }

    .left .front {
        transform: rotateY(90deg) translateX(calc(var(--house-width)/2 * -1 * 0.4)) translateZ(calc(var(--house-width)/2 * 0.4));
    }

    .right .front {
        transform: rotateY(-90deg) translateX(calc(var(--house-width)/2 * 0.4)) translateZ(calc(var(--house-width)/2 * 0.4));
    }

    .building .side {
        width: calc(var(--house-width) * 0.4);
        height: calc(var(--house-width) * 0.4);
        transform: translateZ(calc(var(--house-width) * 0.4)) rotateX(-90deg);
    }

    .building .roof {
        transform:
                translateZ(calc(var(--house-width) * 0.4))
    }
}


/* Text Selection Colors */
::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

::-moz-selection {
    background-color: var(--text-color);
    color: var(--background-color);
}