:root {
    --background-color: #F3F3F3;
    --road-color: #E8E8E8;
    --line-color: #D9D9D9;
    --text-color: #838383;
    --text-secondary-color: #434343;

    --light-shading: #EAEAEA;
    --medium-shading: #D9D9D9;
    --dark-shading: #C5C5C5;
    --font-defaults: "Cascadia Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px dotted red;*/
}

nav {
    position: absolute;
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF00 100%);*/
    font-family: var(--font-defaults);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav * {
    color: var(--text-color);
}

nav h1 {
    font-size: 4rem;
}

nav span {
    font-size: 1.75rem;
}

nav .active {
    color: var(--text-secondary-color);
}

.scene {
    background-color: #F3F3F3;
    background-image: radial-gradient(#E3E3E3 15%, transparent 16%);
    background-size: 2.5rem 2.5rem;
    perspective-origin: top center;
    perspective: 7rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.road {
    background: linear-gradient(to bottom, #DADADA00 0%, #E8E8E8 60%);
    width: 20rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 75deg);
    box-shadow: #E3E3E3 0 5px 5px 5px;

}

.road-lines {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            to top,
            transparent, transparent 1rem,
            #D9D9D9 1rem,
            #D9D9D9 2rem
    );
    background-size: 1rem 100px;
    background-repeat: repeat-y;
    background-position: center;
    animation: moveLines 30s linear infinite;
}

.houses {
    height: 100%;
    width: 25rem;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /*background: blue;*/
    transform: rotate3d(1, 0, 0, 75deg);
    overflow: visible;
    transform-origin: center;
}

.house {
    position: relative;
    background: var(--dark-shading);
    width: 100%;
    height: 8rem;
    transform-style: preserve-3d;
    overflow: visible;
    transform-origin: top;
}

.house .front {
    position: relative;
    background: var(--medium-shading);
    width: 100%;
    height: 8rem;
    transform-origin: top;
    transform: rotateY(90deg) translateX(-12.5rem) translateZ(12.5rem);
}

.house .side {
    position: absolute;
    background: var(--dark-shading);
    width: 25rem;
    height: 25rem;
    left: 0;
    transform: translateZ(25rem) rotateX(-90deg);
    transform-origin: top;
}


.house .roof {
    position: absolute;
    background: var(--light-shading);
    width: 100%;
    height: 8rem; /* length of the roof slope */
    top: 0;
    transform-origin: top;
    transform:
            translateZ(25rem) /* move roof up by half its height */
            /*rotateY(45deg); !* angle the roof *!*/
}


/* Animations */
@keyframes moveLines {
    0% {
        background-position: center 0;
    }
    100% {
        background-position: center 100px;
    }
}

/* Text Selection Color */
::selection {
    background-color: #A0A0A0;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #A0A0A0;
    color: #FFFFFF;
}